body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2;
  padding-left: 20%;
  padding-right: 20%;
  }

  .sidebar
{ float: right;
  width: 190px;
  padding: 0 15px 20px 15px;}

  #content
  { text-align: left;
    width: 595px;
    padding: 0;}

  